
<footer class="bg-dark-custom mb-0 py-2 d-flex justify-content-center align-items-center mt-4">
    <p class="text-white my-0 fs-5">&copy; 2025</p>
    <p class="text-white my-0 fs-5 ms-3">Created by Shumie</p>
</footer>


