@page "/about"

<PageTitle>BookStore - About</PageTitle>

<div class="custom-w-80 mx-auto custom-vh">
    <h3 class="text-center txt-custom-dark fs-4 mb-3">About</h3>

    <p class="txt-custom-dark fs-5 py-2 text-center">This is a portfolio project built by Shumie.</p>
</div>



