@page "/delete-book/{id:int}"
@rendermode InteractiveServer
@inject BooksClient BooksClient;
@inject NavigationManager NavigationManager

<PageTitle>Delete Book</PageTitle>

<div class="custom-vh">
    <div class="text-center my-3">
        <h3 class="txt-custom-dark">Delete Book</h3>

        <p class="fs-4 txt-custom-dark">Are sure you want to delete: <span class="fw-bold">@bookName</span>?</p>
    </div>
    <div class="text-center">
        <button @onclick="HandleDeleteAsync" class="btn bg-danger text-white me-2">
            <i class="bi bi-trash"></i>
            Delete
        </button>
        <a role="button" class="btn btn-secondary" href="/">
            <i class="bi bi-x-circle"></i>
            Cancel
        </a>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private string bookName = string.Empty;

    protected override async Task OnParametersSetAsync()
    {        
        var book = await BooksClient.GetBookAsync(id);

        if (book is null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            bookName = book.Name;
        }
    }

    private async Task HandleDeleteAsync()
    {
        await BooksClient.DeleteBookAsync(id);
        NavigationManager.NavigateTo("/");  
    }
}
